

.drop-down-menu {
    display: none;
}

/** Body **/
body {
    background: rgb(228, 228, 228);
}

/** Main Layout **/

/** Hide Sidebars **/
main .desktop {
    display: none;
}

main {
    margin-top: 2px;
}

/** Set Background Main Color **/
main .main .container {
    background: white;
}

/** Layouting **/
/** Using Flexbox **/

main .main {
    display: flex;
    flex-direction: column;
}

main .main .container.stories {
    order: 0;
}

main .main .container.post-feed {
    order: 0;
    padding: 15px 10px 15px 10px;
}

main .main .container.post-feed hr {
    display: none;
}

main .main .container.stories {
    order: 1;
}


/** Post-Feed **/
main .main .container.post-feed .post-feed-main {
    display: flex;
    justify-content: space-evenly;
    gap: 0.4em;
}

main .main .container.post-feed .post-feed-main img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

main .main .container.post-feed .post-feed-main input {
    width: 100%;
    border-radius: 100px;
    padding: 0 15px;
    border: none;
    background: #F0F2F5;
}

main .main .container.post-feed .post-feed-main input::placeholder {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}

main .main .container.post-feed .desktop.post-feed-option {
    display: none;
}


main .main .container.post-feed .post-feed-main .photo-option {
    display: flex;
    
    flex-direction: column;
    color: blue;
    /* padding: 10px; */
}

main .main .container.post-feed .post-feed-main .photo-option i {
    font-size: 1.5em;
    color: black;
}

main .main .container.post-feed .post-feed-main .photo-option p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 0.8em;
}



/** Stories **/

main .main .container.stories {
    margin-top: 3px;
    padding: 5px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

main .main .container.stories .desktop {
    display: none;
}


main .main .container.stories .container-friends-stories {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

main .main .container.stories .container-friends-stories .story {
    margin: 10px 0 5px 0;
    min-width: 90px;
    min-height: 160px;
    border-radius: 10px;
    
    max-width: 90px;
    max-height: 160px;

    overflow: hidden;
    position: relative;
    /** Display Pictures **/
    background-image: url("../img/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


main .main .container.stories .container-friends-stories .story .add-story {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .main .container.stories .container-friends-stories .story .add-story i {
    color: white;
    text-align: left;
    font-size: 2.3em;
    line-height: 1em;
}

main .main .container.stories .container-friends-stories .story .add-story p {
    font-weight: bolder;
    font-size: 0.9em;
    color: white;
    width: 60%;
    text-align: left;
}



/** Story Content **/
main .main .container.stories .container-friends-stories .story.friend-story .add-story i {
    font-size: 1.5em;
    border: 4px solid #1877f2;
    border-radius: 50%;
    width: fit-content;
    overflow: hidden;
    background: black;
}


main .main .container.stories .container-friends-stories .story.friend-story .add-story p {
    font-weight: lighter;
    width: 90%;
    
}


/** News Feed **/
main .main .content-container {
    order: 1;
    background: #90949c;
}


main .main .content-container .content {
    padding: 10px 13px 10px 13px;
    background: white;

    display: flex;
    flex-direction: column;
    margin-top: 5px;
    /** Main Font For The News Feed Content **/
    font-family: Arial, Helvetica, sans-serif

}

main .main .content-container .content .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

main .main .content-container .content .header .left-section {
    display: flex;
    gap: 1px;
}

main .main .content-container .content .header .left-section .profile {
    border: 2px solid #1877f2;
    border-radius: 50%;
    overflow: hidden;
    max-width: 40px;
    max-height: 40px;
}

main .main .content-container .content .header .left-section .profile .friend-profile {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

main .main .content-container .content .header .left-section .name {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    justify-content: center;
}

main .main .content-container .content .header .left-section .name .friend-name {
    font-weight: bold;
    font-size: 1rem;
}


main .main .content-container .content .header .left-section .name .time-posted {
    font-size: 0.7em;
    color: #90949c;
}

main .main .content-container .content .header .fa-solid.fa-ellipsis {
    font-size: 1.3em;
}


main .main .content-container .content .content-image {
    padding: 10px 5px 10px 5px;

    display: flex;
    flex-direction: column;
}

main .main .content-container .content .content-image .friend-comment {
    font-size: 0.9em;
}


main .main .content-container .content .content-image .owner {
    margin-top: 5px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

main .main .content-container .content .content-image .owner .posted-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 1px;
}

main .main .content-container .content .content-image .owner .posted-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

main .main .content-container .content .content-image .owner .owner-content-section {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

main .main .content-container .content .content-image .owner .owner-content-section .owner-profile {
    border: 2px solid #1877f2;
    border-radius: 50%;
    overflow: hidden;
    max-width: 40px;
    max-height: 40px;
}

main .main .content-container .content .content-image .owner .owner-content-section .owner-left-section {
    display: flex;
    align-items: center;
    gap: 3px;
    font-family: Arial, Helvetica, sans-serif
}

main .main .content-container .content .content-image .owner .owner-content-section .owner-left-section .owner-profile img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

main .main .content-container .content .content-image .owner .owner-content-section .owner-left-section .owner-name .owner-content {
    font-weight: bold;
    font-size: 1rem;
}

main .main .content-container .content .content-image .owner .owner-content-section .owner-left-section .owner-name .time-posted {
    font-size: 0.7em;
    color: #90949c;
}

main .main .content-container .content .content-image .owner .owner-content-section .owner-comment {
    margin-top: 5px;
}


/**Reaction Box **/
main .main .content-container .content hr {
    margin: 5px 0;
}

main .main .content-container .content .total-reaction {
    display: flex;
    justify-content: space-between;
}

main .main .content-container .content .total-reaction .react {
    display: flex;
} 

main .main .content-container .content .user-option {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

main .main .content-container .content .user-option .option {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 10px;
    padding: 5px;
    border: 0;
}

main .main .content-container .content .user-option .option > * {
    font-size: 1.1em;
    color: #101010;
}